.aboutSection {
  background: #13131f;
}

.sectionHead {
  margin-bottom: 3rem;
  width: 100%;
}

.profilePicture {
  border-radius: 50%;
  border: 2px solid #fff;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

.aboutP {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem;
  color: #fff;
}

.aboutContent {
  display: flex;
  gap: 3rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
  }
}
