.footer {
  background: #13131f;
  border-top: 2px dotted rgba(255, 255, 255, 0.11);
}

.footerWrapper {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.policy span {
  color: #e5e5e5;
}
